extend layout

block content
  .bodycontent
    form(method='POST' action='user/register')
      div.form-group
        label(for='username').label User Name:
        input#name.form-control(type='text', placeholder='username' name='username')
      div.form-group
        label(for='email').label Email:
        input#email.form-control(type='email', placeholder='name@email.com' name='email')
      div.form-group
        label(for='pw').label Password:
        input#pw.form-control(type='password' name='password')
      button.btn.btn-primary.register-btn(type='submit') Register
  .bodycontent
    form(method='POST' action='user/login')
      div.form-group
        label(for='username').label User Name:
        input#name.form-control(type='text', placeholder='username' name='username')
      div.form-group
        label(for='pw').label Password:
        input#pw.form-control(type='password' name='password')
      button.btn.btn-primary.register-btn(type='submit') Login
