doctype html
html
  head
    title #{title}
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="js/custom.js")
    link(rel="stylesheet" href="css/custom.css")
  body
    h1.header#title #{title}
    if(user)
      a.logout-btn(href="/user/logout") Logout
    != messages('message', locals)
    block content
