.header {
  text-align: center;
  padding: 30px;
  background: #393232;
  color: #DDD;
  height: 100px;
}

body {
  background: #efeaea;
}

.bodycontent {
  margin: 30px;
  border-radius: 20px;
  padding: 20px;
  background: #393232;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.label {
  color: white;
  font-weight: 500;
}

.btn-primary {
  background: #964f4f;
}

.btn-primary:hover{
  background: #d86868;
}

.logout-btn {
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font: bold 25px Arial;
  text-decoration: none;
  background-color: #efeaea;
  color: #393232;
  padding: 10px 6px 2px 6px;
  position: absolute;
  top: 50px;
  right: 20px;
  width: 100px;
  height: 50px;
}
.logout-btn:hover{
  color: #393232;
  font-size: 27px;
  text-decoration: none;
  top: 45px;
  right: 15px;
  width: 110px;
  height: 55px;
}
.alert-danger,
.alert-error {
  text-align: center;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
